*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: white; */
    background-image: url("blob-scene-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.Calculator
{
    position: relative;
    width: 340px;
    /* background: 340px; */
    background-color: #edf1f4;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(24, 24, 24, 0.1),
    -10px -10px 50px rgba(29, 29, 29, 0.733);
}
.Calculator .Buttons
{
    position: relative;
    display: grid;
}
.Calculator .Buttons #value
{
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #231e42;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 20px #fff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
}
.Calculator .Buttons span
{
    position: relative;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 20px #fff;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
    /* border: 1px solid #edf1f4; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff;
    border-radius: 10px; 
}
.Calculator .Buttons span:active
{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px #fff;
    color: #f44336;
}
.Calculator .Buttons span#clear
{
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;

}
.Calculator .Buttons span#plus
{
    grid-row: span 2;
    background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}
.Calculator .Buttons span#equal
{
    grid-row: span 2;
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;

}
.Calculator .Buttons span#clear,
.Calculator .Buttons span#plus,
.Calculator .Buttons span#equal
{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px #fff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}
/* .ToggleBtn
{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
} */
